.btn {
    margin-right: 5px
}

.thought {
    margin-bottom: 40px;
}

.thought .memory {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .memory {
        font-size: 14.5px;
    }
}

.icon-margin-both {
    margin-left: 2px;
    margin-right: 5px;
}

.icon-margin-left {
    margin-left: 5px
}

#content-section #reminder-list p {
    font-size: 16px;
}


.hover-wrapper .show-on-hover {
    visibility: hidden;
}

.hover-wrapper:hover .show-on-hover {
    visibility: visible;
}
