<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Memento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/assets/bootswatch/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/bootswatch/bootswatch.min.css">
    <link rel="stylesheet" href="/css/memento.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/assets/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="bs-component" id="navbar">
</div>
<div class="container">
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="page-header" id="header">
                    <h1 id="forms"><a href="/">About Memento</a></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="bs-component">
                    <div id="content-section" class="about-page">
                        <p>Memento is an experimental note-taking application for thoughts you may want to revisit in
                            the future. It has some unique characteristics:

                        <ul>
                            <li>You can add notes at any time,</li>
                            <li>You can only edit or remove notes within a 24 hour window,</li>
                            <li>After that you can only follow up on them.</li>
                        </ul>

                        <p>It was meant to capture my state of mind at a point in time, and not let me second-guess
                            or fiddle with wording when some time had passed.

                        <p>I'm also experimenting with spaced repetition reminders, so that Memento periodically brings
                            up thoughts I don't want to forget, and allows me to examine the train of
                            thought that lead me there.

                        <p>If a thought is no longer as relevant as it used to be, you can archive it instead of
                            deleting it. Archived thoughts are not included in searches by default, but you can also
                            choose to search for them. You can un-archive a thought at any later point.

                        <p>Memento is an open source project. You can check out the current issues and milestones
                            on <a href="https://gitlab.com/Numergent/memento/issues">Gitlab</a>.</p>

                        <p><a href="/">Click here to go back.</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="text-align: center">
                <p>&copy <a href="https://numergent.com" target="_new">Numergent Limited</a></p>
            </div>
        </div>
    </footer>

</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</body>
</html>
